<!DOCTYPE html>
<html>

<!-- head -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://scholars.cs.usfca.edu/images/favicon.ico" type="image/x-icon">

<title>{{ site.title }}</title>

<link rel="stylesheet" href="https://scholars.cs.usfca.edu/css/main.css">
<link rel="stylesheet" href="https://scholars.cs.usfca.edu/css/all.min.css">
</head>

<!-- body -->
<body>

{% include header.html %}

<section class="section">
  <div class="container">

    <h2 class="title is-2">{{ page.title }}</h2>

    <!-- content -->
    <div class="content">

      {{ content }}

    </div>
    <!-- end content -->

  </div>
</section>

{% include footer.html %}

<!-- end -->
</body>
</html>
